<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClientMachineDBContext"
			 connectionString="Data Source=AMIT-LT73\SQLEXP2022;Initial Catalog=Machine_Management_System_Clinet;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
	
</configuration>