<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClientMachineDBContext"
			 connectionString="Data Source=WIN10-TEST\SQLEXP2022;Initial Catalog=Machine_Management_System_Client;Persist Security Info=True;User ID=sa;Passwordpctadmin$1234Trust Server Certificate=True" />
	</connectionStrings>
	<appSettings>
		<add key="ServerIPAddress" value="192.168.1.100" />
	</appSettings>
</configuration>