<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerMachineDBContext"
			
			 connectionString="Data Source=AMIT-LT73\SQLEXP2022;Initial Catalog=Machine_Management_System_Server;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>