<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerMachineDBContext"
			 connectionString="Data Source=WIN10-TEST\SQLEXP2022;Initial Catalog=Machine_Management_System_B2;Persist Security Info=True;User ID=sa;Password=pctadmin$1234;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>